<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Wellcome <%= name %> you are <%= age %> years old
    </div>
    <img src="images/download.jpeg" alt="244">
    <p>Create a user</p>
</body>
</html>